# 1. The Disk Claim (PVC)
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: postgres-pvc
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: local-path
  resources:
    requests:
      storage: 5Gi

---
# 2. The Database (Deployment)
apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
spec:
  