apiVersion: apps/v1
kind: Deployment
metadata:
  name: titan-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titan
  template:
    metadata:
      labels:
        app: titan
    spec:
      containers:
      - name: titan
        image: tomcat:9-jdk17
        ports:
        - containerPort: 8080   # <--- Tomcat listens here
        resources:
          requests:
            memory: "128Mi"
          limits:
            memory: "256Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: titan-service
spec:
  selector:
    app: titan
  ports:
    - protocol: TCP
      port: 80          # <--- Service listens on 80
      targetPort: 8080  # <--- Sends traffic to 8080
