apiVersion: apps/v1
kind: Deployment
metadata:
  name: titan-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: titan
  template:
    metadata:
      labels:
        app: titan
    spec:
      containers:
      - name: titan
        # Tomcat is a real Java Web Server. It eats RAM for breakfast.
        image: tomcat:9-jdk17
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "128Mi"
          limits:
            memory: "256Mi"
        # REMOVED the 'command' and 'args' lines. 
        # We want the default Tomcat startup command.
